.breadcrumbs {
  padding-top: 28px;

  @media (min-width: 768px) {
    padding-top: 32px;
  }
  @media (min-width: 1024px) {
    padding-top: 40px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__item::after {
    content: '>';
    color: #969eae;
    margin-left: 8px;
    line-height: 1.2;
  }
  &__item-link {
    color: #969eae;
    line-height: 1.2;
  }
}