.breadcrumbs {
  padding-top: 40px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.breadcrumb__item::after {
  content: '>';
  color: #969eae;
  margin-left: 8px;
  line-height: 1.2;
}
.breadcrumb__item-link {
  color: #969eae;
  line-height: 1.2;
}