.catalog {
  padding-top: 40px;
}
.catalog__list {
  display: flex;
  align-items: center;
  gap: 4px;
}
.catalog__list-item {
  padding: 11px 14px 13px;
  background-color: #eeeff2;
  height: 38px;
  border-radius: 32px;
  cursor: pointer;
}
.catalog__list-item.active {
  background-color: #0044f0;
}
.catalog__list-item.active .catalog__link {
  color: #ffffff;
}
.catalog__link {
  color: #969eae;
  line-height: 1.2;
}