.product {
  padding: 40px 0px 100px;
}
.product__title {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 40px;
}
.product__description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.product__slider {
  margin-right: 16px;
  max-width: 832px;
}
.product__slider-image {
  margin-bottom: 16px;
}
.product__slider-image img {
  width: 100%;
  border-radius: 16px;
}
.product__slider-thumbnails {
  display: flex;
  gap: 16px;
  max-width: 832px;
}
.product__slider-thumbnails img {
  max-width: 192px;
  border-radius: 16px;
}
.product__info {
  max-width: 408px;
}
.product__info-price {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 12px;
}
.product__info-id {
  display: inline-block;
  padding: 4px 8px;
  line-height: 1.2;
  background-color: #eeeff2;
  border-radius: 32px;
  margin-bottom: 24px;
}
.char-title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 12px;
}
.product__table {
  width: 100%;
  margin-bottom: 24px;
}
.product__table td {
  padding: 0;
  border-bottom: 1px solid #eeeff2;
}
.product__table tr {
  height: 23px;
}
.product__table-name {
  color: #969eae;
  line-height: 1.2;
}
.product__table-value {
  text-align: right;
}
.product__button-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
.product__tocart-button {
  width: 100%;
  border: none;
  background-color: #0044f0;
  padding: 12px 24px;
  color: #ffffff;
  line-height: 1.2;
  border-radius: 32px;
  cursor: pointer;
}
.product__like-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}